<div id="page">

    <!-- Todos -->
    <div id="todos">
        <header>
            <h1>todos</h1>
            <section id="error" *ngIf="error">Oh no!</section>
        </header>
        <section id="content">
            <input
                id="newTodo"
                type="text" placeholder="What needs to be done?"
                [(ngModel)]="newTodo" #ctrl="ngModel"
                (keyup.enter)="addTodo()"
                required
                autofocus
            >
            <nav id="list">
                <ng-container *ngFor="let li of list | filter:filterValue">
                    <li (click)="setStatus(li)">
                        <input type="checkbox" [checked]="li.status === 'done'">
                        <h3>{{li.label}}</h3>
                    </li>
                </ng-container>
            </nav>
        </section>
        <footer>
            <p id="count">{{list.length}} todos left</p>
            <button id="btnClear" (click)="storageClear()">Clear</button>
            <div id="spacer"></div>
            <nav id="filters">
                <button (click)="setFilter(undefined)">All</button>
                <button (click)="setFilter('active')">Active</button>
                <button (click)="setFilter('done')">Complete</button>
            </nav>
        </footer>
    </div>

    <hr>

    <div id="posts">
        <!-- Posts Header -->
        <header>
            <h1>posts</h1>
        </header>
        <!-- HTTP Posts -->
        <section id="content">
            <article *ngFor="let p of posts" (click)="p.isComplete = !p.isComplete">
                <header class="postHeader">
                    <span class="id">{{p.id}}</span>
                    <h3>{{p.title}}</h3>
                </header>
                <div class="postContent">
                    <p>{{p.body}}</p>
                </div>
            </article>
        </section>
    </div>

</div>
